<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>contextParamDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
      <param-name>login-expriration-time-in-seconds</param-name>
      <param-value>3600</param-value>
  </context-param>
  
    <context-param>
      <param-name>project-name</param-name>
      <param-value>Context Param Demo</param-value>
  </context-param>
  
   <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>com.testparams.servlets.ShoppingServlet</servlet-class>
        <init-param>
            <param-name>greeting</param-name>
            <param-value>Welcome to ShoppingServlet</param-value>
        </init-param>
         <init-param>
            <param-name>license</param-name>
            <param-value>Full license</param-value>
        </init-param>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>ShoppingServlet</servlet-name> 
      <url-pattern>/ShoppingServlet</url-pattern> <!-- from this path it goees to the name helllo servlet and thn go the class helloworldsservlet -->
  </servlet-mapping>
  
  
   <servlet>
        <servlet-name>TestParamServlet</servlet-name>
        <servlet-class>com.testparams.servlets.TestParamServlet</servlet-class>
         <init-param>
            <param-name>greetting!</param-name>
            <param-value>Welcome to TestParamServlet</param-value>
        </init-param>
         <init-param>
            <param-name>license</param-name>
            <param-value>Trial license</param-value>
        </init-param>
  </servlet>
  
    <servlet-mapping>
      <servlet-name>TestParamServlet</servlet-name> 
      <url-pattern>/TestParamServlet</url-pattern> <!-- from this path it goees to the name helllo servlet and thn go the class helloworldsservlet -->
  </servlet-mapping>
  

</web-app>